
.banner{
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    background-size: cover;
    background-position: center;
    background-color: #f5f5f5;
    background-image: url('../img/banner.jpg');
}

.banner-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgba(0, 22, 40,.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-content h1{
    margin-top: 60px;
    padding: 0;
    padding-bottom: 30px;
    font-size: 35px;
    text-align: center;
}

.avatar{
    margin-top: 50px;
    margin-bottom: 15px;
    
}

.correo >input{
    width: 300px;
    height: 35px;
    text-align: center;
    border-radius: 10px;
}

.password >input{
    width: 300px;
    height: 35px;
    text-align: center;
    border-radius: 10px;
}

.correo::before{
    content: "\f007";
    font-size: 25px;
}

.password::before{
    content: "\f023";
    font-size: 25px;
}

.correo::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    font-size: 20px;
    padding-left: 15px;
}

.password::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    font-size: 20px;
    padding-left: 15px;
}


